.welcome{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 5%;
    font-size: 150px;
    font-family: 'Franklin Gothic Medium';
    color: rgb(6, 80, 80);
}

#dice-container {
  display: inline;
}
.btn-roll-dice {
    margin-top: 10px;
}
#die1 {
    display: flexbox;
}
#die2 {
    display: flexbox;
}
.play-btn{
    font-family:sans-serif;
    display: grid;
    font-size: 75px;
    
}
#input-form{
    border-radius: 25px;
    background-color: blue ;
}